@media (max-height: 490){
    .doingit-logo{
        width: 180px;
    }
}

@media (max-width: 520px){

    .doingit-logo{
        margin: 0px;
    }

    .email,
    .password,
    .user{
        margin: 4px;
    }

    .link-a,
    .link-b{
        margin: 0px;
    }

}

@media (max-height: 570px){

    .title-login{
        margin: 3px;
    }

    .doingit-logo{
        margin: 0;
    }

    .primary-button,
    .secondary-button{
        margin: 6px!important;
    }

    .title-login{
        margin: 0px 0px 5px 0px;
    }

    .title-cadastro{
        margin: 0px 0px 5px 0px;
    }

    .doingit-logo{
        width: 220px;
    }


}


@media (max-width: 620px){
    .exit{
        width: 40px;
    }

    body{
        margin: 0;
        padding: 0;
    }

    nav{
        padding: 10px;
    }

    .edit-avatar{
        left: 83px;
    }

    .inicio-page{
        margin-top: 60px;
    }

    .todo-box{
        width: 100%;
        box-shadow: none;
        border: none;
        border-radius: 0;
    }

}